
.PopupClose{
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
}
.PopupCloseImg
{
    width: 25px;
    height: 25px;
}
.modalstyle{
    background-color: #c7b29a;
    color: #442414;
    border: 2px solid #5E4242;
    text-align: left;
}
