.optionExpander {
    width: 40px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    cursor: pointer;
    font-size: 48px;
    text-align: center;
    vertical-align: top;
    background: url(".././image/gear.png");
    border: none;
}
.optionExpander:hover{
    animation: optionExpander 0.6s ease-in-out both;
}

.navbar-brand{
    cursor: pointer;
}

@keyframes optionExpander{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
