.Settings {
    max-width: 660px;
    background: #343434;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    position: absolute;
    right: 0;
    color: #f2ecde;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 10px 14px;
    font-size: 12px;
    top: 50px;
    z-index: 5;
    visibility: hidden;
}
.Settings .visble{
    visibility: visible;
}