.App {
  background: #d3d3d3;
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
  height:2400px;
}
.LibraryBackground{
  height: auto;
  background: url("./image/corner-left-top.png") top left no-repeat,
url("./image/corner-right-top.png") top right no-repeat,
url("./image/border-top.png") top left repeat-X,
url("./image/corner-left-bottom.png") bottom left no-repeat,
url("./image/corner-right-bottom.png") bottom right no-repeat,
url("./image/border-bottom.png") bottom left repeat-X,
url("./image/border-left.png") top left repeat-Y,
url("./image/border-right.png") top right repeat-Y,url("./image/main.png") repeat;
  padding-top: 20px;
  min-height: calc(100vh - 160px);
  border-radius: 20px;
}

